@media (min-width: 768px) {
  .main-nav { display: block !important; }
  .main-nav ul { display: flex; }
  .main-nav li { border-top: 0; }
  .main-nav a { padding: 1rem 1.5rem; }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 2rem;
  }
  #about { grid-column: 1 / 2; }
  #photo { grid-column: 2 / 3; }

  .courses-container { grid-template-columns: repeat(3, 1fr); }
}
